<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modularui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.modularui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.modularui.Fragment1"
            android:label="@string/title_activity_fragment1" >
        </activity>
        <activity
            android:name="com.example.modularui.Fragment2"
            android:label="@string/title_activity_fragment2" >
        </activity>
        <activity
            android:name="com.example.modularui.Interface"
            android:label="@string/title_activity_interface" >
        </activity>
    </application>

</manifest>
